<div class="toolbar">
  <div class="container">
    <div class="row">
      <div class="col mt-2">
        <img
          width="40"
          alt="Angular Logo"
          src="https://cdn-icons.flaticon.com/png/512/3451/premium/3451761.png?token=exp=1637667834~hmac=613fd2a61bb9090f445eefba0c011ec5"
        />
      </div>
      <div class="col-8">
        <h1>Controle de Estoque</h1>
      </div>
    </div>
  </div>
</div>

<main>
  <section class="container principal">
    <div class="row">
      <div class="col">
        <img
          src="https://image.freepik.com/vetores-gratis/composicao-isometrica-de-entrega-logistica-de-entrega-com-caracteres-humanos-sem-rosto-de-dois-trabalhadores-do-sexo-masculino-e-ilustracao-de-rack-de-encomendas_1284-29116.jpg"
          alt="Estoque"
        />
      </div>
      <div class="col">
        <form [formGroup]="checkoutForm" id="produtosForm">
          <div class="mb-3">
            <label for="nome" class="form-label" >Nome Produto</label>
            <input
              type="text"
              formControlName="nome"
              class="form-control"
              id="nome"
              placeholder="Digite seu nome"
            />
          </div>

          <div class="mb-3">
            <label for="preco" class="form-label">Valor do Produto</label>
            <input
              type="text"
              formControlName="preco"
              class="form-control"
              id="preco"
              placeholder="Digite o valor"
            />
          </div>

          <div class="mb-3">
            <label for="data" class="form-label">Data de entrada</label>
            <input
              type="date"
              formControlName="data"
              class="form-control"
              id="data"
              
            />
          </div>

          <div class="mb-3">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input
              type="text"
              formControlName="quantidade"
              class="form-control"
              id="quantidade"
              placeholder="Digite a quantidade"
            />
          </div>
          <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea
              type="message"
              formControlName="descricao"
              class="form-control"
              id="descricao"
            ></textarea>
          </div>
          <div class="mb-3 row">
            <label for="descricao" class="form-label">Código do Produto</label>
            <input
              type="text"
              formControlName="codigo"
              class="form-control col"
              id="codigo"
            />
            <button hidden type="submit" class="btn btn-secondary col-2" (click)="buscar()">
              Buscar
            </button>
          </div>
          <button type="submit" class="btn btn-success" (click)="cadastrar()">
            Cadastrar
          </button>
          <button type="submit" class="btn btn-primary" (click)="atualizar()">
            Atualizar
          </button>
        </form>
      </div>
    </div>
  </section>

  <section class="container principal__tabela">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Valor do produto</th>
          <th scope="col">Data de entrada</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Descrição</th>
          <th scope="col">Código do Produto</th>
          <th scope="col">
            <button class="btn btn-dark" (click)="listarProdutos()">Listar Produtos</button>
          </th>
          <th scope="col">
            <button class="btn btn-info" (click)="geraRelatorio()">Gerar Relatório</button>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="listaProduto; else mensagemProdutos">
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.preco }}</td>
          <td>{{ produto.dataEntrada }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.codigoProduto }}</td>
          <td><button type="submit" class="btn btn-danger" (click)="deletar(produto.codigoProduto)">
            Excluir
          </button>
          </td>
          <td>
          <button type="submit" class="btn btn-warning" (click)="editar(produto.nome,produto.preco,produto.dataEntrada,produto.quantidade,produto.descricao,produto.codigoProduto)">
            Editar
          </button></td>
        </tr>
      </tbody>
      <tfoot>
        <ng-template #mensagemProdutos>
          Nenhum Produto Listado
        </ng-template>
      </tfoot>
    </table>
  </section>
</main>
